* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

html {
    scroll-behavior: smooth;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.05), rgba(0, 0, 0, 0.05)), url(Images/machli.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 97%;
    margin: auto;
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 120px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #404040;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    bottom: -15%;
    transform: translateY(-50%);
    text-align: left;
    color: #fff;
}

.content h1 {
    font-size: 60px;
    margin-left: 50px;

}

.content p {
    font-size: 40px;
    font-weight: 400;
    margin-left: 50px;
    margin-top: 5px;
}

.content .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.content a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    margin-left: 50px;
    border: 2px solid #fff;
}

#about {
    padding: 4rem 0;
    text-align: center;
}

#about p {
    margin-bottom: 4rem;
    font-size: 40px;
}

.about {
    width: 30%;
    display: inline-block;
    padding: 0 1rem;
    text-align: center;
}

.about img {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

footer {
    background-color: #006969;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer h2 {
    margin-bottom: 10px;
    transition: color 0.5s ease;
}

footer p {
    margin: 0;
    line-height: 1.6;
    transition: color 0.5s ease;
}